[Unit]
Description=Wireguard

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/python3 /root/provision.py
ExecStart=/usr/bin/wg-quick up wg0
ExecStop=/usr/bin/wg-quick down wg0

[Install]
WantedBy=multi-user.target
